html
  head
    link(type='text/css', rel='stylesheet', href='/pages/style/blog.css')
    link(type='text/css', rel='stylesheet', href='/pages/style/navbar.css')
    link(rel='icon', href='/images/icon.png')
    title The Space Cadet's Log
  body
    #wrapper
      #heading
        h1 The Space Cadet's Log
      ul#navbar
        li
          a.navButton(href='/') Home
        li
          a.active.navButton(href='/blog?page=1') Blog
        li
          a.navButton(href='/games') Games
        li
          a.navButton(href='/contact') Contact
        li
          form.search(action='/blog?page=1', method='get')
            input(type='hidden', name='page', value=1)
            input(type='text', name='search')
            input.searchButton(type='submit', value='Search')
      #content
        h2 Blog
        ul#postList
          - each post in postContent
            li.post
              a.postElement.postTitle(href='/blog?post='+post.date)=post.title
              p.postElement.postContent=post.content
              p.postElement.postDate='Posted on: '+post.date 
              p.postAuthor.postElement='By: '+post.by
              #tagWrapper
                p.postTagsHeader.tagSection='Tags: '
                - each tag in post.tags
                  a.tagSection.tag(href='/blog?page=1&tag='+tag)=tag
      
      - if(page != 10 && postContent.length == 10)        
        a#older.navButton(href=olderLink) Older Posts
      - if(page != '1')
        a#newer.navButton(href=newerLink) Newer Posts
